"appbuild"
{
  "appid" "APP_ID_FROM_STEAMWORKS"
  "desc" "AXM Local GameHub TEST candidate"
  "buildoutput" "..\\output"
  "contentroot" "..\\candidate"
  "setlive" ""
  "preview" "1"
  "local" ""
  "depots"
  {
    "DEPOT_ID_FROM_STEAMWORKS" "depot_build_DEPOTID.vdf.example"
  }
}
