"DepotBuildConfig"
{
  "DepotID" "DEPOT_ID_FROM_STEAMWORKS"
  "ContentRoot" "..\\candidate"
  "FileMapping"
  {
    "LocalPath" "*"
    "DepotPath" "."
    "recursive" "1"
  }
  "FileExclusion" "steam_appid.txt"
  "FileExclusion" "*.pdb"
}
